$ cat .gitignore
/.idea/
*/__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*
test.py
/nlp/model/gru_crf_model/label_old_only_work_project.txt
/nlp/nlp_tools/imagepdf_to_image/image_*
/nlp/nlp_tools/ocr/result
test.py
test.txt
/hugging_face/01_use_transformer/directory_on_my_computer/
/hugging_face/02_fine_tunning_pretrained_model/test-trainer/
/nlp/knowledge_graph/extraction/ltp_data_v3.4.0/
/hugging_face/03_sharing_models_tokenizer/dummy-model/
/hugging_face/04_datasets/data/
