$ cat .gitignore
/.idea/
*/__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*
test.py
nlp/model/gru_crf_model/label_old_only_work_project.txt
nlp/nlp_tools/imagepdf_to_image/image_1
nlp/nlp_tools/imagepdf_to_image/image_2